---
import {Link} from "@nextui-org/link";
import { Icon } from 'astro-icon/components';
import Dropdown_order from '../components/react/Dropdown_order'
---

<div class="w-full h-14 flex justify-between fixed z-20 items-center mx-auto px-8 bg-slate-50">

    <!--ubicación -->
    <div >
        <Link isBlock href="#" color="foreground" className="items-center" client:visible >
            <Icon name="add_location_alt_40dp" class="text-2xl"/>
            <p class="ml-1">Ingresar Ubicación</p>
        </Link>
    </div>
    <!-- end ubicacion -->
    
    <!-- Filtro principal -->
     <div class="">

     </div>
    <!-- end filtro principal-->
    <!-- Ordenar por -->
    <div class="flex items-center h-5 space-x-1 text-small">

        <Dropdown_order  client:load/>
        <Icon name="sort_40dp" class="text-3xl"/>
    </div>
    <!-- end ordenar por -->


</div>