---
import Rate from "./Rate.astro";
import {Progress} from "@nextui-org/react";

---

<div class="flex flex-col w-52">
  <!--Stars -->
  <div class="flex">
    <h2 class="text-5xl text-dark align-middle leading-normal">4.0</h2>
    <!--Stars & cantidad opiniones -->
    <div class="flex flex-col ml-2">
      <Rate />
      <p class="text-md text-secondary text-center align-top leading-none">3 opiniones</p>
    </div>
  </div>
  <!--Bars -->
  <div class="flex flex-col gap-4 w-full max-w-md">
    <Progress client:visible size="sm" color="primary" aria-label="Loading..." value={70} />
    <Progress client:visible size="sm" color="primary" aria-label="Loading..." value={50} />
    <Progress client:visible size="sm" color="primary" aria-label="Loading..." value={20} />
    <Progress client:visible size="sm" color="primary" aria-label="Loading..." value={10} />
    <Progress client:visible size="sm" color="primary" aria-label="Loading..." value={10} />
  </div>
</div>